#nav {
    text-align: right
}

#hero-image {
    height: 250px;
    padding-top: 100px;
    
}

#product1 {
    height: 200px;
    padding-top: 100px;
}

#product2 {
    height: 200px;
    padding-top: 100px;
}

#service1 {
    height: 250px;
    padding-top: 125px;
}

#service2 {
    height: 250px;
    padding-top: 125px;
}

#service3 {
    height: 250px;
    padding-top: 125px;
}
#service4 {
    height: 250px;
    padding-top: 125px;
}
#service5 {
    height: 250px;
    padding-top: 125px;
}
#service6 {
    height: 250px;
    padding-top: 125px;
}


   #footer {
    height: 150px;
    padding-top: 75px;
}